In [7]:
import importlib
import yfDataLoader as yfdl

importlib.reload(yfdl)

In [13]:

yfdl.get_historical_prices('TSLA').head(5)

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2019-08-22  14.853333  15.026667  14.548000  14.810000  14.810000   98385000
2019-08-23  14.664667  14.744667  14.066667  14.093333  14.093333  128079000
2019-08-26  14.240000  14.334667  14.102667  14.333333  14.333333   75778500
2019-08-27  14.382667  14.586667  14.135333  14.272000  14.272000   81243000
2019-08-28  14.246000  14.483333  14.154000  14.372667  14.372667   48382500

In [14]:

yfdl.get_historical_prices('AAPL').head(5)

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2019-08-22  53.297501  53.610001  52.687500  53.115002  51.396412   89014800
2019-08-23  52.357498  53.012501  50.250000  50.660000  49.020844  187272000
2019-08-26  51.465000  51.797501  51.264999  51.622501  49.952194  104174400
2019-08-27  51.965000  52.137501  50.882500  51.040001  49.388554  103493200
2019-08-28  51.025002  51.430000  50.830002  51.382500  49.719971   63755200

In [4]:
import datetime
import importlib
import yfDataLoader as yfdl
import pandas as pd 

importlib.reload(yfdl)


ticker = 'AAPL'
end_date = datetime.datetime.today()
start_date = end_date - datetime.timedelta(days=30) 
# Get stock prices
stock_analysis = yfdl.get_price_sentiment_correlation(ticker, start_date, end_date).to_csv('AAPL.csv')
stock_analysis = yfdl.get_price_sentiment_correlation('TSLA', start_date, end_date).to_csv('TSLA.csv')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [5]:
import datetime
import importlib
import yfDataLoader as yfdl
import pandas as pd 

importlib.reload(yfdl)
yfdl.get_ticker_list("aap").head

c:\Kevin\AIMLBTC\WD-Workspace\StockPredication_FinalProject\yfDataLoader.py:123: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df =pd.read_json(json.loads(data))

<bound method NDFrame.head of               symbol                                               name  \
1327           CAAPX                            Ariel Appreciation Fund
5169            CAAP                  Corporación América Airports S.A.
5590             AAP                           Advance Auto Parts, Inc.
7910            AAPU               Direxion Daily AAPL Bull 1.5X Shares
8727            AAPL                                         Apple Inc.
9159            AAPD                 Direxion Daily AAPL Bear 1X Shares
16016           AAPB  GraniteShares ETF Trust - GraniteShares 2x Lon...
21309        AAPL.MX                                         Apple Inc.
21545        AAPL.NE                                         Apple Inc.
23750           AAPY       Kurv Yield Premium Strategy Apple (AAPL) ETF
31496         2AAP.L                     Leverage Shares 2x Apple ETC A
33238         AAP2.L                     Leverage Shares 2x Apple ETC A
33256         AAP3.L                       Leverage Shares 3x Apple ETC
35281         AAPS.L  Leverage Shares 3x Short Apple (AAPL) ETP Secu...
35282         AAPE.L                     Leverage Shares 2x Apple ETC A
35631     SEIDAAP.CO        SEBinvest - Danske Aktier Akkumulerende AKL
41072    HARIAAPL.BO                             Haria Apparels Limited
57424         AAP.AX               Australian Agricultural Projects Ltd
63699  AAPLUSTRAD.BO                          AA Plus Tradelink Limited
64613           AAPJ                                          AAP, Inc.
67573        AAPL.DE                                              15994
72835         AAAP.L                      Anglo African Agriculture Plc
74290         AAPL.L                    LEVERAGE SHARES PUBLIC LIMITED
82100         AAP1.L                    LEVERAGE SHARES PUBLIC LIMITED
83075           AAPT                     All American Pet Company, Inc.
83779         1AAP.L                            LS 1x Apple Tracker ETC

           price                        exchange exchangeShortName   type
1327     41.8200                          NASDAQ            NASDAQ  trust
5169     15.3500         New York Stock Exchange              NYSE  stock
5590     49.1500         New York Stock Exchange              NYSE  stock
7910     36.8500            NASDAQ Global Market            NASDAQ    etf
8727    226.8400            NASDAQ Global Select            NASDAQ  stock
9159     16.9800            NASDAQ Global Market            NASDAQ    etf
16016    28.7900            NASDAQ Global Market            NASDAQ    etf
21309  4327.3800                          Mexico               MEX  stock
21545    33.3700                             NEO               NEO  stock
23750    27.3286                         Cboe US               ETF    etf
31496  3625.0000           London Stock Exchange               LSE    etf
33238    47.9150           London Stock Exchange               LSE    etf
33256   106.7150           London Stock Exchange               LSE    etf
35281     1.2386           London Stock Exchange               LSE    etf
35282    42.8050           London Stock Exchange               LSE    etf
35631   392.0000                      Copenhagen               CPH  stock
41072     5.6600           Bombay Stock Exchange               BSE  stock
57424     0.0340  Australian Securities Exchange               ASX  stock
63699    24.0500           Bombay Stock Exchange               BSE  stock
64613     0.0001                       Other OTC               PNK  stock
67573        NaN        Frankfurt Stock Exchange             XETRA  trust
72835     4.0000           London Stock Exchange               LSE  stock
74290   672.6500           London Stock Exchange               LSE  stock
82100     7.9590           London Stock Exchange               LSE  stock
83075     0.0001                       Other OTC               PNK  stock
83779     8.6375           London Stock Exchange               LSE    etf  >