In [7]:
import importlib
import yfDataLoader as yfdl

importlib.reload(yfdl)

In [13]:

yfdl.get_historical_prices('TSLA').head(5)

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2019-08-22  14.853333  15.026667  14.548000  14.810000  14.810000   98385000
2019-08-23  14.664667  14.744667  14.066667  14.093333  14.093333  128079000
2019-08-26  14.240000  14.334667  14.102667  14.333333  14.333333   75778500
2019-08-27  14.382667  14.586667  14.135333  14.272000  14.272000   81243000
2019-08-28  14.246000  14.483333  14.154000  14.372667  14.372667   48382500

In [14]:

yfdl.get_historical_prices('AAPL').head(5)

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2019-08-22  53.297501  53.610001  52.687500  53.115002  51.396412   89014800
2019-08-23  52.357498  53.012501  50.250000  50.660000  49.020844  187272000
2019-08-26  51.465000  51.797501  51.264999  51.622501  49.952194  104174400
2019-08-27  51.965000  52.137501  50.882500  51.040001  49.388554  103493200
2019-08-28  51.025002  51.430000  50.830002  51.382500  49.719971   63755200

In [48]:
import datetime
import importlib
import yfDataLoader as yfdl
import pandas as pd 

importlib.reload(yfdl)


ticker = 'AAPL'
end_date = datetime.datetime.today()
start_date = end_date - datetime.timedelta(days=30) 
# Get stock prices
stock_analysis = yfdl.get_price_sentiment_correlation(ticker, start_date, end_date).to_csv('AAPL.csv')
stock_analysis = yfdl.get_price_sentiment_correlation('TSLA', start_date, end_date).to_csv('TSLA.csv')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [ ]:
import datetime
import importlib
import yfDataLoader as yfdl
import pandas as pd 

importlib.reload(yfdl)


ticker = 'AAPL'
end_date = datetime.datetime.today()
start_date = end_date - datetime.timedelta(days=30) 
# Get stock prices
stock_prices = yfdl.get_historical_prices(ticker, start_date, end_date)
stock_prices['Date']=stock_prices.index
stock_prices = stock_prices.reset_index(drop=True)

# Get news data
api_key = '75280214a5304e8782d916c7e69d9ab5' 
news_data = yfdl.get_news_data(api_key, ticker, start_date, end_date)

# # Analyze sentiment
sentiment_data = yfdl.analyze_sentiment(news_data)
print(sentiment_data.columns)
# Merge data
merged_data = yfdl.merge_data(stock_prices, sentiment_data)

merged_data.to_csv('temp.csv')

merged_data_cl = merged_data.dropna()

merged_data.to_csv('tempna.csv')

stock_data_cleaned = merged_data[merged_data['sentiment'] != 0]


stock_data_cleaned.to_csv('tempna.csv')

In [ ]:
stock_prices = yfdl.get_historical_prices(ticker, start_date, end_date)
stock_prices['Date']=stock_prices.index
stock_prices = stock_prices.reset_index(drop=True)

# Get news data
api_key = '75280214a5304e8782d916c7e69d9ab5' 
news_data = yfdl.get_news_data(api_key, ticker, start_date, end_date)

# # Analyze sentiment
sentiment_data = yfdl.analyze_sentiment(news_data)
print(sentiment_data.columns)
# Merge data
merged_data = yfdl.merge_data(stock_prices, sentiment_data)

merged_data.to_csv('temp.csv')

merged_data_cl = merged_data.dropna()

merged_data.to_csv('tempna.csv')

stock_data_cleaned = merged_data[merged_data['sentiment'] != 0]


stock_data_cleaned.to_csv('tempna.csv')